.flag-icon {
  position: relative;
  display: inline-block;
  width: 1.3333333333333333em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon-pl {
  background-image: url(flag_images/4x3/pl.svg);
}
.flag-icon-pl.flag-icon-squared {
  background-image: url(flag_images/1x1/pl.svg);
}
.flag-icon-us {
  background-image: url(flag_images/4x3/us.svg);
}
.flag-icon-us.flag-icon-squared {
  background-image: url(flag_images/1x1/us.svg);
}
