
@{
	ViewBag.Title = "Mission";
}

<h2>Wounded yet Healed by Love</h2>

<p>
	Love  is a  great  gift  of  God  for  man. Thanks to  love,  life  blossoms.  On  the  other  hand, lack  of  love  or  its wounds   create   developmental   disturbances   causing   unhappiness,   destroying   interpersonal   relations. Considering  “wounds  of  love”  it  is  easy  to  notice  their  harmfulness  at  different  phases  of  life:  at  the beginning  of  life,  during  adolescence,  in  experiencing  first  relations  of  romantic  love:  of  coming  closer together and of farewells. I am conscious of the tragedy of being wounded by love through marital infidelity. Also, dependencies and addictions of all kinds are a type of “wounds of love”.
</p>
<p>
	Children,  spouses,  parents,  siblings,  in-laws,  grandparents,  grandchildren  can  be  wounded.  We  are  mostpained by the wounds inflicted by those closest to us – by family members, friends. A close person is among our fellow-men the one who is especially important to us, and wounds inflicted by her or him hurt the most. It  is  exactly  those  persons  who  hurt  us  who  are  the  ones  who  can  help  us  heal  most  effectively  throughexpressed apologies and our forgiveness.
</p>
<p>
	Again  we  return  to  love  without  which  healing  is  impossible.  It  is  well-lived  love  which  is  the  basis of healing of various hurts, wounds, and scars. Love is a simultaneous psychological and spiritual experience; its presence  or lack thereof, we also  experience in our bodies, in our physical being. Accordingly, one can say that love thoroughly permeates one’s personal existence and contributes to that person’s comprehensive development,  be  it  psychological,  spiritual,  or  physical.  We  can  say that  love,  lack  of  love  or  its  wounds have consequences in all aspects of human life.
</p>
<p>
	Among particular issues pertaining to wounds of love and healing by love, I would like to bring attention to several special ones:<br />
	<ol>
		<li>
			Wounded  at  the  beginning  of  life.    These  are  experiences  by  small  children  from  conception  until going  to  school,  most  often  at  home  and  not  infrequently  at  pre-school.  Unwanted  children, foundlings, abused, beaten, scared, and neglected children – these bear the burden of wounded love for  the  rest  of  their  lives.  How  to  help  people  whose  fundamental  trust  was  ruined  in  childhood?  How  to  teach  courage  and  initiative  to  someone  who in  their  childhood  was  ridiculed,  degraded, scorned and who took on the role of a scapegoat (someone  with a continuous feeling of shame and guilt)?
		</li>
		<li>
			Wounded  at  school.    Children  who  fail,  are  unable  to  be  successful  in  studies,  ridiculed  by  peers because they are poorer, less talented, dressed badly. Children who on account of parental neglect aredependent on the internet, computer, cigaretts, drugs. How to help kids with the inferiority complex? How to strengthen and increase their sense of self-worth?
		</li>
		<li>
			Wounded  during  adolescence.  Teenagers  exposed  to  strong  erotic  stimuli  and  surrendering  to  the pressures  of  the  civilization  of  use,  closed-off  in  the  virtual  world  of  computer  games  and  social profiling,  experiencing  difficulties  with  interpersonal  communication,  young  people  unable to  cope with thier own biological changes, unable to for self-identity or be responsible for themselves, unable to form intimate, clean, beautiful, and deep relations between man and woman.  In this era of gender, many young people ask themselves questions about thier sexual identity, of the identity of a man and a woman, and of sexual orientations.  How to help them?  How to make healing by love possible for them?
		</li>
		<li>
			Wounded in marriage. Spouses disappointed with one another, in quarrel or lonely because of lack of time  and  lack  of  interest  in  cultivating  marital  relation,  experiencing  infidelity,  violence,  scorn, having an  impression that  love  failed, that  perhaps  it  does  not  exist.  Wounds  of  marital  love reach very deep. Forgiving love seems naive. How to convince spouses to seek therapy and care for marital spirituality? How to break through mentality of reaching for divorce as soon as difficulties arise?
		</li>
		<li>
			Wounded  in  parenting.  Causes  of  parenting  failures are  numerous.  Parents  who  did  everything  to provide their  children  with  comfortable life and  means  of  development  suddenly  make a terrifying discovery  that  their  children  reject  values  and  religious  beliefs  they  worked  so  hard  to  hand  on  to them. Lost and pursuing pleasure, career, and success, next generation destroys their lives and turns away  from  their  parents.  How  to  overcome  damaging  inter-generational  barriers?  How  to  recover love between parents and children that have been wounded by mutual disappointments?
		</li>
		<li>
			Wounded  by  addictions.  When  a  person  succumbs  to  a belief  that  for  his  or  her  happiness,  they necessarily  need  something  that  will  give  them  temporary  help,  they  often  enter  the  road  of addiction. To assuage the existential pain they need alcohol, drugs, gambling, TV, computer ... What was  supposed  to  help;  however,  becomes  a  curse.  Loss  of  control  over  the  „consolers”  leads  to helplessness,  to  bankruptcy.  How  to  recover  from  addictions?  Which  strategy  to  choose  as  most suitable? Where to seek help when a person close to us is being destroyed by an addiction?
		</li>
		<li>
			Healed by love for one’s self, for others and for God.  Love heals. However, it is necessary how to administer  this  remedy.  Which  love  is  healing  and  which  is  toxic?  What  are  the  criteria  of  wise, prudent love of one’s self, of others, an even of God?
		</li>
	</ol>
</p>
<p>
	Situations and problems mentioned above are only a meager fragment of the topography of issues related to wounds of love and to healing by love in marriage and family.  During the III Family Congress in Chicago we will undertake reflection and prayer around this central topic: Wounded yet Healed by Love. I hope that many  persons  will  offer  their  active  participation in  our  meetings. I  also  have  deep  hope  that  God  who  is LOVE  will  come  to  the aid  of all those  who  were  left feeling  hurt,  failed, and  guilty  in  and through their relations of love. And I trust that God will bless all who will meet during the upcoming Family Congress.
</p>
<p>
	Rev. Romuald Jaworski, Warszawa, Poland
</p>
