
@{
	ViewBag.Title = "Places";
}

<table class="table">
	<tbody>
		<tr>
			<td>
				<iframe src="https://www.google.com/maps/d/u/0/embed?mid=zGe8OlOkkjyE.kdtNP-k-FJIU" width="640" height="480"></iframe>
			</td>
		</tr>
		<tr>
			<td>
				Sacred Heart Mission (Polish Jesuits)<br />
				5835 W. Irving Park Rd.<br />
				Chicago, IL 60634
			</td>
		</tr>
		<tr>
			<td>
				St. Ladislaus Church<br />
				5345 W Rascoe St.<br />
				Chicago, IL. 60641
			</td>
		</tr>
		<tr>
			<td>
				Divine Mercy Polish Mission<br />
				21W411 Sunset Ave.<br />
				Lombard, IL 60148
			</td>
		</tr>
		<tr>
			<td>
				Our Lady Mother of the Church Polish Mission<br />
				116 Hilton St.<br />
				Willow Springs, IL 60480
			</td>
		</tr>
		<tr>
			<td>
				St. Ferdinand Church<br />
				5900 West Barry Avenue<br />
				Chicago, IL 60634
			</td>
		</tr>
		<tr>
			<td>
				St. Daniel the Prophet Church<br />
				5300 S. Natoma Ave.<br />
				Chicago, IL 6063
			</td>
		</tr>
		<tr>
			<td>
				St. Bruno Church<br />
				4751 South Harding Avenue<br />
				Chicago, IL 60632
			</td>
		</tr>
		<tr>
			<td>
				St. Constance Church<br />
				5843 West Strong Street<br />
				Chicago, IL 60630
			</td>
		</tr>
		<tr>
			<td>
				St. Hyacinth Basilica<br />
				3636 West Wolfram Street<br />
				Chicago, Illinois 60618
			</td>
		</tr>
		<tr>
			<td>
				Kings Hall Banquets<br />
				1000 N Rohlwing Rd<br />
				Lombard, IL 60148
			</td>
		</tr>
		<tr>
			<td>
				Mundelein Seminary<br />
				1000 E Maple Ave<br />
				Mundelein, IL 60060
			</td>
		</tr>
		<tr>
			<td>
				Tadeusz Kosciuszko Shool of Polish Language<br />
				8001 W. Belmont Ave<br />
				River Grove, IL 60171
			</td>
		</tr>
		<tr>
			<td>
				SWIATELKO<br />
				5849 W. Irving Park Rd<br />
				Chicago, IL 60634
			</td>
		</tr>
	</tbody>
</table>